@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
}


:root {
    --bg-1: #F2F5EA;
    --bg-1-1: #EEF2E3;
    --bg-2: #2C363F;
    --bg-3: #D6DBD2;
    --text-header: #590D1F;
    --text-main: #0F151A;
    --text-muted: #413b51ff;
}